How will/should date/time formats be handled?

@lfportal openapi supports:

- date : full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
- date-time : the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z